  <mat-card class="centered-form">
      <form>
        <mat-form-field class="amountClass">
          <input matInput type="number" formControlName="amount" />
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <br>
        <mat-form-field class="descriptionClass">
          <textarea matInput rows="5" placeholder="Operation description" formControlName="operationDescription"></textarea>
        </mat-form-field>
        <br />
        <button mat-raised-button class="form-btn" color="primary">Withdraw</button>
        &nbsp;&nbsp;
        <button mat-raised-button class="form-btn" color="primary">Deposit</button>
      </form>
    </mat-card>