.centered-form{
    left: 50%;
    top: 50%;
    width: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.amountClass, .descriptionClass{
    left: 20%;
    width: 50%;
}

.form-btn {
    left: 35%;
}